# Application Branding & Metadata
VITE_APP_TITLE=HUMID1_OS
VITE_APP_DESCRIPTION=Industrial Climate Telemetry & IoT Humidor Management
VITE_APP_REDIRECT_URI=

# ThingsBoard & Authentik Host URLs
VITE_THINGSBOARD_URL=https://app.humid1.com
VITE_THINGSBOARD_TOKEN=
VITE_AUTHENTIK_URL=https://auth.humid1.com

# Authentik OIDC Client Configuration
VITE_AUTHENTIK_CLIENT_ID=
VITE_AUTHENTIK_APP_SLUG=humid1-dash
